---
import { cn } from "@/utils/cn";

interface Props {
    class?: string;
}

const { class: className } = Astro.props;
---

<div class={cn("rounded-lg bg-clr-foreground p-6", className)}>
    <slot />
</div>
