---
import Layout from "@/components/Layout.astro";
---

<Layout title="Unauthorised | not undefined">
    <h1 class="mt-12 text-center text-5xl font-bold leading-none">401</h1>
    <p class="mt-6 text-center text-xl leading-none">Unauthorised</p>
</Layout>
