---
import Layout from "../components/Layout.astro";
---

<Layout title="About | Reading Web Dev">
    <main class="grow space-y-16 px-16 py-16">
        <section class="mx-auto max-w-screen-xl">
            <h1 class="mt-12 text-center text-5xl font-bold leading-none">
                404
            </h1>
            <p class="mt-6 text-center text-xl leading-none">Page not found</p>
        </section>
    </main>
</Layout>
