---
import Blog from "../components/Blog.astro";
import Card from "../components/Card.astro";
import CardList from "../components/CardList.astro";
import Layout from "../components/Layout.astro";
import SortForm from "../components/SortForm.astro";
import TagCloud from "../components/TagCloud.astro";
import { getBlogs } from "../db";
import { getSearchParam } from "../utils/getSearchParam";

const sort = getSearchParam(
    Astro.url,
    "sort",
    ["newest", "oldest", "daily"],
    "daily"
);

const blogs = await getBlogs({ sort });
---

<Layout title="Browse | Reading Web Dev">
    <main class="mx-auto w-full max-w-screen-lg space-y-12 py-6">
        <header class="flex h-10 items-center justify-center">
            <h2 class="text-center text-2xl font-bold leading-none">Explore</h2>
        </header>
        <div class="space-y-6">
            <TagCloud center class="mx-auto max-w-screen-md" />
            <SortForm />
            <CardList>
                {blogs.map((blog) => <Card blog={blog} />)}
            </CardList>
        </div>
    </main>
    <div>
        {
            blogs.map((blog) => (
                <template data-blog-modal-template={blog.slug}>
                    <Blog blog={blog} />
                </template>
            ))
        }
    </div>
</Layout>
