---
import { ArrowRight } from "lucide-astro";
import Blog from "../components/Blog.astro";
import Card from "../components/Card.astro";
import Layout from "../components/Layout.astro";
import TagLink from "../components/TagLink.astro";
import { tags } from "../content/tags";
import { getBlogs } from "../db";
import TagCloud from "../components/TagCloud.astro";

const blogs = await getBlogs({
    limit: 12,
    sort: "daily",
});
---

<Layout title="Reading Web Dev">
    <main class="mx-auto flex max-w-screen-xl grow gap-12 py-16">
        <aside class="w-64 shrink-0">
            <div>
                <h2 class="text-lg font-bold">Hey there!</h2>
                <p class="mt-2 leading-relaxed">
                    Welcome, this is a place dedicated to discovering talented
                    writers in the world of web development.
                </p>
            </div>
            <div class="mt-6">
                <h3 class="font-bold">Browse by tag</h3>
                <TagCloud class="mt-4" />
            </div>
            <a
                href="/submit"
                class="bg-clr-foreground hover:bg-clr-foreground-hover mt-12 flex h-9 w-fit items-center justify-center gap-2 rounded px-4 py-2 text-center font-bold leading-none transition-all"
                >Submit a blog
                <ArrowRight class="size-4" />
            </a>
        </aside>
        <div class="space-y-16">
            <section class="grow">
                <div class="flex items-center gap-4">
                    <h2 class="text-lg font-bold">Featured today</h2>
                    <a
                        href="/explore"
                        class="ml-auto flex w-fit items-center gap-1"
                    >
                        <span>More</span>
                        <ArrowRight class="size-4" />
                    </a>
                </div>
                <div class="mt-4 grid grid-cols-4 gap-6">
                    {blogs.map((blog) => <Card blog={blog} />)}
                </div>
            </section>
        </div>
    </main>
    <div>
        {
            blogs.map((blog) => (
                <template data-blog-modal-template={blog.slug}>
                    <Blog blog={blog} />
                </template>
            ))
        }
    </div>
</Layout>
