<footer
    class="mx-auto mt-auto flex w-full max-w-screen-xl items-center gap-12 py-12"
>
    <p>© {new Date().getFullYear()}</p>
    <p class="ml-auto">Curated by Everyone</p>
    <p>
        Built by
        <a
            class="font-bold underline"
            href="https://camparry.com"
            target="_blank"
        >
            Cam Parry
        </a>
    </p>
</footer>
