<footer
    class="mx-auto mt-auto flex w-full max-w-screen-xl flex-col items-center gap-2 py-6 md:flex-row md:gap-12 md:py-12"
>
    <p>Curated by everyone</p>
    <p>
        Built by
        <a
            class="font-bold underline"
            href="https://camparry.com"
            target="_blank"
        >
            Cam Parry
        </a>
    </p>
    <p class="md:ml-auto">All copyright original owners</p>
</footer>
