---
import { ViewTransitions } from "astro:transitions";
import Header from "./Header.astro";
import Footer from "./Footer.astro";
import BlogModal from "./BlogModal.astro";
import Scripts from "./Scripts.astro";

import "@/styles/index.css";

interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <title>{title}</title>
        <ViewTransitions />
        <script is:inline>
            // Set theme on view transition
            document.addEventListener("astro:after-swap", function () {
                if (localStorage.getItem("theme") === "dark") {
                    document.documentElement.classList.add("dark");
                }
            });
            // Set theme on page load
            if (localStorage.getItem("theme") === "dark") {
                document.documentElement.classList.add("dark");
            }
        </script>
    </head>
    <body
        class="flex min-h-dvh grow flex-col bg-clr-background px-6 text-clr-text md:px-16"
    >
        <Header />
        <main class="mx-auto w-full max-w-screen-lg pb-12">
            <slot />
        </main>
        <Footer />
        <BlogModal />
        <Scripts />
    </body>
</html>
