---
import { getSearchParam } from "../utils/getSearchParam";

const sort = getSearchParam(
    Astro.url,
    "sort",
    ["newest", "oldest", "daily"],
    "daily"
);

const options = [
    { value: "daily", label: "random daily order" },
    { value: "newest", label: "most recently added" },
];
---

<form data-sort-form class="flex items-center">
    <label for="sort" class="font-bold">Sort by</label>
    <select
        name="sort"
        id="sort"
        class="rounded border-none bg-clr-background py-2 pl-2 pr-8 leading-none transition-all focus:ring-0 focus-visible:ring-2"
    >
        {
            options.map((option) => (
                <option value={option.value} selected={sort === option.value}>
                    {option.label}
                </option>
            ))
        }
    </select>
</form>
<script>
    document.addEventListener("change", (event) => {
        if (event.target instanceof Element) {
            if (event.target.closest("[data-sort-form]")) {
                const form = event.target.closest(
                    "[data-sort-form]"
                ) as HTMLFormElement;
                form?.submit();
            }
        }
    });
</script>
