---
import { getSearchParam } from "../utils/getSearchParam";

const sort = getSearchParam(
    Astro.url,
    "sort",
    ["newest", "oldest", "daily"],
    "daily"
);
---

<form data-sort-form class="flex items-center">
    <label for="sort" class="font-bold">Sort by</label>
    <select
        name="sort"
        id="sort"
        class="bg-clr-background rounded border-none py-2 pl-2 pr-6 leading-none transition-all focus:ring-0 focus-visible:ring-2"
    >
        <option value="daily" selected={sort === "daily"}
            >random daily order</option
        >
        <option value="newest" selected={sort === "newest"}
            >most recently added</option
        >
    </select>
    <input type="submit" value="" />
</form>
<script>
    document.addEventListener("change", (event) => {
        if (event.target instanceof Element) {
            if (event.target.closest("[data-sort-form]")) {
                const form = event.target.closest(
                    "[data-sort-form]"
                ) as HTMLFormElement;
                const submit = form.querySelector(
                    'input[type="submit"]'
                ) as HTMLInputElement;
                submit?.click();
            }
        }
    });
</script>
