---
import TagLink from "./TagLink.astro";
import { cn } from "@/utils/cn";
import { tagService } from "@/database/models/tag";

interface Props {
    center?: boolean;
    class?: string;
}

const { center, class: className } = Astro.props;

const tags = await tagService.getMany();

const activeTag = Astro.url.pathname.split("/").pop();
---

<div
    class={cn(
        "flex flex-wrap gap-2",
        center ? "justify-center" : "",
        className
    )}
>
    {
        tags.map((tag) => (
            <TagLink
                href={`/explore/${tag.slug}`}
                title={tag.name}
                isActive={tag.slug === activeTag}
            />
        ))
    }
</div>
