---
import Card from "../../components/Card.astro";
import CardGrid from "../../components/CardGrid.astro";
import Layout from "../../components/Layout.astro";
import SortForm from "../../components/SortForm.astro";
import TagCloud from "../../components/TagCloud.astro";
import { getBlogs } from "../../db";
import { getSearchParam } from "../../utils/getSearchParam";

const sort = getSearchParam(
    Astro.url,
    "sort",
    ["newest", "oldest", "daily"],
    "daily"
);

const blogs = await getBlogs({ sort });
---

<Layout title="Explore | Reading Web Dev">
    <main class="mx-auto w-full max-w-screen-lg space-y-12 py-6">
        <header class="flex h-10 items-center justify-center">
            <h1 class="text-center text-2xl font-bold leading-none">Explore</h1>
        </header>
        <div class="space-y-6">
            <TagCloud center class="mx-auto max-w-screen-md" />
            <SortForm />
            {
                blogs.length ? (
                    <CardGrid>
                        {blogs.map((blog) => (
                            <Card blog={blog} />
                        ))}
                    </CardGrid>
                ) : (
                    <div class="">
                        <h2 class="mt-12 text-center text-2xl font-bold">
                            No blogs found
                        </h2>
                    </div>
                )
            }
        </div>
    </main>
</Layout>
